body {
    margin: 0;
    padding: 0;
    background-color: black !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
   
}

.navbarclass {
    background-color: rgba(30, 30, 30, 1);
    margin: 0; 
}

.navbar-nav {
    width: 100%; 
    display: flex;
    justify-content: space-around; /* Distribuisce gli elementi lungo tutta la larghezza */
    padding: 0;
}

.navbarclass a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.navbarclass a:hover {
    background-color: #9c9a9a58;
    color: #000;
}

.nav-link.day-button {
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.day-button:hover {
    background-color: #ddd;
    color: #555;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ml15 {
    color: rgb(237, 138, 24);
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

#join {
    background-color: rgb(237, 138, 24);
    color: white;
    padding: 10px 60px 10px 60px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 60px;
}

.else-wellcome {
  font-size: 30px;
  color: rgb(237, 138, 24);
  font-weight: bold;
  padding-top: 30px;
}

.abbassa {
    margin-top: 200px;
}

#first-div::before {
    background-image: url("/resources/images/dashboard/gym.png");
    background-size: cover;
    background-position: center;
    transform:rotate(-5deg); 
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 180%;
    content:"";
}

#first-div {
    position: relative;
    /* overflow: hidden; */
}

#second-div {
    background-color: rgb(132, 72, 4);
    position: relative;
    left: -5%;
    width: 115%; 
    transform:rotate(-5deg); 
    margin-top: 60px;
}

#second-div h2 {
    margin-left: 15%;
}

.intro {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(4) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(5) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(6) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(7) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(8) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(9) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(10) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(11) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(12) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(13) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(14) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(15) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(16) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(17) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(18) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(19) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(20) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
.wellcome {
    color: rgba(237, 139, 24, 0.7);
    font-size: 50px;
    
}

.about {
    color: rgba(237, 139, 24, 0.49);
    font-size: 40px;
}

.wellcome-about-us {
  font-size: 22px;
}

.bg-div {
    background-color: rgba(237, 139, 24, 0.49);
    height: 130px;
    position: relative;
    top: -34vh;
    left: -85%;
    width: 115%; 
 
  }

.bg-div-2 {
    background-color: rgba(237, 139, 24, 0.49);
    height: 125px; 
    position: relative; 
    top: -273px; 
    left: 60%;
}

  .carousel-photo-dimension {
    height: 667px;
    width: 900px;
    margin-left: 180px;
  }
  
  @media only screen and (max-width: 1280px) {
    .carousel-photo-dimension {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .lineUp {
    animation: 3.5s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  } 

.photo2 {
    margin-left: 20rem; 
}

.photo3 {
    max-width: 100%;
    height: auto;
}

.description {
    font-size: 30px;
    margin-top: 200px;
}

.side-img {
    width: 600px; 
    height: 600px;
}

.div-learn {
    height: 100px;
    margin-top: 300px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.start-div h1 {
    font-size: 80px;
}
.account{
    padding-top: 100px;
}

.account a {
    text-decoration: none; 
    
}

.bg-account {
    background-color: rgba(237, 139, 24, 0.49);
    position: relative;
    top: -835px;
    left:-1200px; 
    height: 1000px; 
    margin-bottom: -859px;
}

.title-list {
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-bg {
    margin-bottom: 20px;
    height: 300px; 
    position: relative;
}

.title-bg p {
    font-size: 80px;
    color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    
}

ul li img {
    float: left; 
    margin-right: 10px; 
    margin-left:50px; 
    height: 100px;
}

ul li p {
    color: #fff; 
    margin-right: 50px;
    font-size: 40px;
}

.accordion h2 img {
    float: left; 
    margin-right: 10px; 
    margin-left:50px; 
    height: 100px;
}

.accordion h2 p {
    margin-right: 50px;
    font-size: 40px;
}

.align-right {
    text-align: right; 
}

.uppercase {
    text-transform: uppercase;
}

.exercises-bg {
    background-image: url('/resources/images/dashboard/weights.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.recipes-bg {
    background-image: url('/resources/images/dashboard/strawberries1.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.exercises-recipes-text {
    margin-left: 50px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.list-bg {
    background-color:rgba(237, 139, 24, 0.49);
    height: 100px;
    position: relative;
    overflow: hidden;
}

.list-bg img {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.title-list {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

.orange-bg {
    background-color:rgba(237, 139, 24, 0.49) !important;
}

.white-text {
    color: #fff !important;
}

.black-bg {
    background-color: #000 !important;
}

.margin {
    margin-top: 150px !important;
}

.border {
    border: 1px solid white;
}

.myInfo {
  background-image: url('/resources/images/dashboard/bilancia.jpg');
  background-size: cover;
}

.myInfo-text {
  margin-left: 50px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.myProgress {
  background-image: url('/resources/images/dashboard/progress.jpg');
  background-size: cover;
  background-position: center 60%; /* Cambia le coordinate a tuo piacimento */
}

.myProgress-text {
  margin-left: 50px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.exercise-name-bg {
  background-image: url(/resources/images/dashboard/weight-lift.jpg);
  background-size: cover;
  background-position: center 80%;
}

.recipe-name-bg {
  background-image: url(/resources/images/dashboard/healthy-meals.jpg);
  background-size: cover;
  background-position: center 60%;
}

.orange-text {
  color: rgb(227, 145, 4)!important;
  font-weight: 900;
}

.orange-text-about-us {
  color: rgb(237, 138, 24);
  font-size: 50px; 
  margin-top: 40px;
}

.p-about-us {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.rate{
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}




